
<div class="pull-right">
    <!--<a href="#!/create" class="btn btn-default" ng-show="hasRole('admin')" title="Create"><span class="glyphicon glyphicon-plus"></span></a>-->
    <a href="#!/createHistory" class="btn btn-default" title="Create"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="page-header">
    <h3>History</h3>
</div>
<button ng-click="tableParams.reload()" class="btn btn-default">Reload</button>
<button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>

<table ng-table="tableParams" class="table ng-table-responsive">
    <tr ng-repeat="hist in $data">
        <td data-title="'Type'">{{hist.type}}</td>
        <td data-title="'Date'">{{hist.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td data-title="'Action'">{{hist.content}}</td>
        <td data-title="'Edit'" ng-show="hasRole('admin')">
            <a href="#!/edit/{{hist.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
         <td data-title="'Edit'" ng-show="hasRole('admin')">
            <a href="" ng-click="deleteEntry(hist)" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="delete"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
</table>

<hr />
